/bin
/DIST
/build
/target
/ArgoUML-*.tar.gz
/ArgoUML-*.zip
/ArgoUML-*.tgz
/argouml.log
/.classpath.full
/.fbwarnings
/.fbprefs
/.settings
/src/*/.classpath
/.project
/src/*/.project
/src/*/.settings

# New directories to ignore
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
